<div class="container-fluid footer__wrapper">
  <div class="row footer">
    <div class="col-md-5 col-lg-5 footer__left">
      <div class="row footer__left--dashboard-selection">
        <ul class="list-group dashboard-selection__list-group">
          <li class="list-group-item">Dashboard</li>
          <li class="list-group-item">Contacts</li>
          <li class="list-group-item">Notifications</li>
        </ul>
      </div>
      <div class="row footer__left--copyright">
        <ul class="list-group copyright__list-group list-group-horizontal-md">
          <li class="list-group-item copyright__list-group--item no-underline">&copy; 2015 Contactify</li>
          <li class="list-group-item copyright__list-group--item">About</li>
          <li class="list-group-item copyright__list-group--item">Privacy</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 footer__center">
      <div class="row footer__center-sync">
        <div class="col-md-3 col-lg-3 footer__center-sync--left">
          <i class="fas fa-cloud-upload-alt footer__center-sync--left-icon"></i>
        </div>
        <div class="col-md-6 col-lg-6 footer__center-sync--center">
          <p class="footer__center-sync--center-text">Last synced:<br>2019-04-04 14:33:10</p>
        </div>
        <div class="col-md-3 col-lg-3 footer__center-sync--right">
          <i class="fas fa-sync footer__center-sync--right-icon"></i>
          <p class="list-group-item footer__center-sync--right-text">Force sync</p>
        </div>
      </div>
      <div class="row footer__center-help-center">
        <div class="col-md-3 col-lg-3 footer__center-help-center--left">
          <i class="fas fa-stethoscope footer__center-help-center--left-icon"></i>
        </div>
        <div class="col-md-9 col-lg-9 footer__center-help-center--right">
          <p class="footer__center-help-center--right-text">
            Help desk and Resolution center available:<br>
            I-IV 8:00-18:00, V 8:00-16:45
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 footer__right">
      <div class="row footer__right--contacts-menu">
        <ul class="list-group list-group-flush contacts-menu__list">
          <li class="list-group-item contacts-menu__list--item">Groups</li>
          <li class="list-group-item contacts-menu__list--item">Frequently contacted</li>
          <li class="list-group-item contacts-menu__list--item">Preferences</li>
          <li class="list-group-item contacts-menu__list--item">Log out</li>
        </ul>
      </div>
    </div>
  </div>
</div>