<div class="container-fluid header-wrapper">
  <div class="row header">
    <div class="col-2 header__logo-wrapper">logo</div>
    <div class="col-6 header__menu-wrapper">
      <div class="row header__menu">
        <button class="btn btn-primary col-3 header__menu-button--dashboard">dashboard</button>
        <button class="btn btn-primary col-3 header__menu-button--contacts">contacts</button>
        <button class="btn btn-primary col-3 header__menu-button--notifications">notifications</button>
      </div>
    </div>
    <div class="col-2 header__search-bar-wrapper">
      <div class="header__search-bar">
        <input type="text" class="header__search-bar__search-term" placeholder="What are you looking for?">
        <button type="submit" class="header__search-bar__search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-2 header__dropdown-menu-wrapper">
      <div class="dropdown header__dropdown-menu">
        <button class="btn btn-secondary header__dropdown-menu-button dropdown-toggle" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu header__dropdown-menu-selection" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item header__dropdown-menu-selection-item" type="button">Action</button>
          <button class="dropdown-item header__dropdown-menu-selection-item" type="button">Another action</button>
          <button class="dropdown-item header__dropdown-menu-selection-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
</div>