<div class="container-fluid header-wrapper">
  <div class="row header">
    <div class="col-sm-2 col-md-2 col-lg-2 header__logo--wrapper">
      <div class="row header__logo">
        <i class="far fa-user-circle header__logo--icon"></i>
        <p class="header__logo--text">contactify</p>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 header__menu--wrapper">
      <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-6 btn-group header__menu">
          <button type="button" class="btn btn-primary header__menu-button button__dashboard">
            dashboard
          </button>
          <button type="button" class="btn btn-primary header__menu-button button__contacts">
            contacts
          </button>
          <button type="button" class="btn btn-primary header__menu-button button__notifications">
            notifications
          </button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 header__search-bar">
          <input type="text" class="form-control header__search-bar__search-term" placeholder="Search">
          <button type="button" class="btn header__search-bar__search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-2 header__dropdown-menu-wrapper">
          <div class="dropdown header__dropdown-menu">
            <button class="btn btn-secondary header__dropdown-menu-button dropdown-toggle" type="button"
              id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Jorah Mormont
            </button>
            <div class="dropdown-menu header__dropdown-menu-selection" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item header__dropdown-menu-selection-item" type="button">
                <i class="fas fa-users"></i>
                Groups
              </button>
              <button class="dropdown-item header__dropdown-menu-selection-item" type="button">
                <i class="fas fa-comments"></i>
                Frequently contacted
              </button>
              <button class="dropdown-item header__dropdown-menu-selection-item" type="button">
                <i class="fas fa-wrench"></i>
                Preferences
              </button>
              <button class="dropdown-item header__dropdown-menu-selection-item" type="button">
                <i class="fas fa-power-off"></i>
                Log out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>