<div class="container-fluid header--wrapper">
  <div class="row header">
    <div class="col-md-3 header__logo--wrapper">
      <div class="row header__logo">
        <i class="far fa-user-circle header__logo--icon"></i>
        <p class="header__logo--text">contactify</p>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 header__menu--wrapper">
      <div class="row">
        <div class="col-sm-6 col-md-6 btn-group header__menu">
          <button type="button" class="btn btn-primary header__menu--button button__dashboard">
            dashboard
          </button>
          <button type="button" class="btn btn-primary header__menu--button button__contacts">
            contacts
          </button>
          <button type="button" class="btn btn-primary header__menu--button button__notifications">
            notifications
          </button>
        </div>
        <div class="col-sm-3 col-md-3 header__search-bar borders">
          <input type="text" class="form-control header__search-bar--search-term" placeholder="Search">
          <button type="button" class="btn header__search-bar--search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="col-sm-2 col-md-2 header__dropdown--wrapper">
          <div class="header__dropdown">
            <button class="btn btn-secondary header__dropdown--button dropdown-toggle" type="button"
              id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Jorah Mormont
            </button>
            <div class="dropdown-menu header__dropdown--selection" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item header__dropdown--selection-item">
                <i class="fas fa-users dropdown-item--icon"></i>
                <p class="dropdown-item--text">Groups</p>
              </button>
              <button class="dropdown-item header__dropdown--selection-item">
                <i class="fas fa-comments dropdown-item--icon"></i>
                <p class="dropdown-item--text">Frequently contacted</p>
              </button>
              <button class="dropdown-item header__dropdown--selection-item">
                <i class="fas fa-wrench dropdown-item--icon"></i>
                <p class="dropdown-item--text">Preferences</p>
              </button>
              <button class="dropdown-item header__dropdown--selection-item no-bottom-border">
                <i class="fas fa-power-off dropdown-item--icon"></i>
                <p class="dropdown-item--text">Log out</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>