$desktop-s: 1024px;
$desktop-m: 1366px;
$desktop-l: 1440px;
$desktop-xl: 1920px;

@mixin desktop-s {
    @media (min-width: #{$desktop-s}) {
        @content;
    }
}

@mixin desktop-m {
  @media (min-width: #{$desktop-m}) {
      @content;
  }
}

@mixin desktop-l {
  @media (min-width: #{$desktop-l}) {
      @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop-xl}) {
      @content;
  }
}

.borders {
  border: 2px solid rgba(54, 54, 54, 0.788) !important;
  box-shadow: 0px 0px 0px .5px #fff !important;
}

.header__wrapper {
  padding: 0 1em;
  background-color: rgb(0, 89, 99);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
}

.header__logo--wrapper {
  display: flex;
  padding-left: 0;
  flex-grow: 2;
  align-items: flex-start;
  color: white;
}

.header__logo {
  max-width: 18rem;
}

.header__logo--icon {
  position: relative;
  font-size: .65em;
}

.header__logo--text {
  font-size: 2em;
  max-height: 3.125rem;
  font-weight: bolder;
  text-transform: uppercase;
}


.header__menu {
  padding-left: 0;
  padding-right: 0;
  margin-right: .5rem;
  border-radius: 25px;
  box-shadow: 0 6px 6px -2px rgb(43, 43, 43);
}

.header__menu-button {
  border-radius: 0 !important;
  outline: 0 !important;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  background-color: rgb(11, 146, 190);
  padding: .25rem .25rem;
}

.header__menu-button:hover {
  box-shadow: inset 0 0 10px rgba(9, 65, 39, 0.781);
}

.button__dashboard {
  border-radius: 25px 0 0 25px !important;
}
.button__notifications {
  border-radius: 0 25px 25px 0 !important;
}

.header__search-bar {
  display: flex;
  border-radius: 25px !important;
  padding-right: 0;
  font-size: .8rem;
}

.header__search-bar__search-term {
  float: left;
  outline: none !important;
  border-radius: 25px 0 0 25px;
}

.header__search-bar__search-button {
  float: right;  
  background: rgb(219, 219, 219);
  outline: none !important;
  justify-content: center;
  text-align: center;
  color: hsl(210, 9%, 31%);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.header__dropdown-menu--wrapper {
  position: relative;
  top: -2em;
  left: .2em;
}

.header__dropdown-menu-button {
  border-radius: 0 0 8px 8px !important;
  border: none !important;
  outline: none !important;
  background-color: rgb(11, 146, 190);
}

.header__dropdown-menu-selection-item {
  font-size: 1rem;
  justify-content: space-between;
}

@include desktop-s {
  .header__logo {
    margin: .7rem 0 0 0;
  }

  .header__logo--icon {
    left: 15.95em;
  }

  .header__search-bar {
    padding-left: 0;
  }

  .header__wrapper {
    padding: 0 2em;
  }
}

@include desktop-m {
  .header__menu {
    margin-right: 1rem;
  }

  .header__dropdown-menu--wrapper {
    left: 3.4em;
  }
  
  .header__wrapper {
    padding: 0 4em;
  }
}

@include desktop-l {
  .header__dropdown-menu--wrapper {
    left: 3em;
  }

  .header__logo {
    margin: .7rem 0 0 0;
  }

  .header__logo--icon {
    left: 15.95em;
  }

  .header__wrapper {
    padding: 0 8em;
  }
}

@include desktop-xl {
  .header__dropdown-menu--wrapper {
    left: 2.5em;
  }

  .header__wrapper {
    padding: 0 26em;
  }
}