.header {
  align-items: center;
  height: 5rem;
  width: 100vw;
}

.header__menu {
  margin: auto auto;
  justify-content: center;
}

.header__search-bar-wrapper {
  margin: auto auto;
}

.header__search-bar {
    display: flex;
}

.header__dropdow-menu-wrapper {
  position: fixed !important;
  top: 0;
}

.header__logo--wrapper {
  display: block;
  max-height: 3.425rem;
  color: rgb(160, 153, 153);
}

.header__logo--icon {
  position: relative;
  left: 208px;
  font-size: .9rem;
}
.header__logo--text {
  font-size: 2.5rem;
  max-height: 3.125rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.header__menu {
  background-color: hsl(211, 100%, 50%);
  border-radius: 25px;
}

.header__menu-button {
  border-radius: 0 !important;
  outline: 0 !important;
  min-width: 18.2rem !important;
  text-transform: uppercase;
}

.header__search-bar {
  display: flex;
  padding: 0;
  border-radius: 25px !important;
}

.header__search-bar__search-term {
  float: left;
  width: 268px;
  height: 2.375rem;
  padding: 10px 10px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.header__search-bar__search-button {
  float: right;  
  width: 45px;
  height: 2.375rem;
  background: rgb(155, 155, 155);
  outline: none;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.header__dropdown-menu-wrapper {
  position: fixed;
  top: 0;
  right: -50px;
}

.header__dropdown-menu-button {
  border-radius: 0 0 8px 8px !important;
}

.header__dropdown-menu-selection-item {
  font-size: 1rem;
  justify-content: space-between;
}