<div class="card contacts__card">
  <div class="card__image">
    <img *ngIf="!isLoading" src="../../../assets/images/unisex-profile-blue.png" class="card-img-top not-selected">
    <img *ngIf="selected" src="{{ contact.imgUrl }}" class="card-img-top">
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin card__spinner"></i>
  </div>
  <div class="row card-body">
    <div class="col-md-5 card-body__header">
      <p class="card-text">Name:</p>
      <p class="card-text">Surname:</p>
      <p class="card-text">City:</p>
      <p class="card-text">Email:</p>
      <p class="card-text">Phone:</p>
    </div>
    <div class="col-md-7 card-body__contact-details" *ngFor="let props of contact">
      <p *ngIf="!props" class="card-text"><i>no contact selected</i></p>
      <p *ngIf="props" class="card-text">{{ props.name }}</p>
      <p *ngIf="!contact" class="card-text"><i>-</i></p>
      <p *ngIf="contact" class="card-text">{{ props.surname }}</p>
      <p *ngIf="!contact" class="card-text"><i>-</i></p>
      <p *ngIf="contact" class="card-text">{{ props.city }}</p>
      <p *ngIf="!contact" class="card-text"><i>-</i></p>
      <p *ngIf="contact" class="card-text">{{ props.email }}</p>
      <p *ngIf="!contact" class="card-text"><i>-</i></p>
      <p *ngIf="contact" class="card-text">{{ props.phone }}</p>
    </div>
  </div>
</div>
