.borders {
  border: 2px solid rgba(54, 54, 54, 0.788) !important;
  -webkit-box-shadow: 0px 0px 0px .5px #fff !important;
          box-shadow: 0px 0px 0px .5px #fff !important;
}

.dashboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(0.55turn, #00598d, #02817b);
}

.dashboard {
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__wrapper {
  height: 32rem;
  background: linear-gradient(0.55turn, #02817b, #00598d);
}

.main__contacts {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  -webkit-box-shadow: 0 6px 6px -2px #2b2b2b;
          box-shadow: 0 6px 6px -2px #2b2b2b;
}

.main__contacts--list {
  border-radius: 5px;
  background-color: white;
  height: auto;
  -webkit-box-shadow: 0 6px 6px -2px #2b2b2b;
          box-shadow: 0 6px 6px -2px #2b2b2b;
}

.contacts__group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.contacts__edit-item--left {
  float: left;
  margin: 2.5px;
  padding: 2.5px;
}

.contacts__edit-item--right {
  float: right;
  margin: 2.5px;
  padding: 2.5px;
}

.contacts__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__surname-group--item-name, .contacts__city-group--item-name,
.contacts__email-group--item-name, .contacts__phone-group--item-name {
  margin: 5px;
  padding: 5px;
}

.main__contacts--detailed-view {
  padding-left: .5em;
}

.contacts__output {
  height: 2rem;
}

.row.contacts__output:hover {
  background-color: lightblue;
  cursor: pointer;
}

.row.contacts__output:hover .contacts__edit-item--left {
  border-radius: 5px;
  background-color: #3fa4c5;
}

.row.contacts__output:hover .contacts__edit-item--right {
  border-radius: 5px;
  background-color: #3fa4c5;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.card-img-top {
  width: 170px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #d4d3d3;
  margin-top: 20px;
}

.card-body {
  font-size: .6em;
}

.card-body__header {
  text-align: end;
  margin-right: 0 !important;
  padding-right: 5px !important;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  white-space: nowrap;
  fill: #000;
}

.card-body__contact-details {
  text-align: start;
  margin-left: 0 !important;
  padding-left: 5px !important;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  white-space: nowrap;
  fill: #000;
}

.contacts__header-button {
  cursor: pointer;
}

.contacts__header-item {
  font-weight: 600;
  text-transform: capitalize;
}

.contacts__header-item--text {
  margin: .5rem 0 .5rem 0;
}

.contacts__group-item {
  font-size: .85em;
  white-space: nowrap;
  border-bottom: 0.5px solid #d4d4d4;
}

.header__button-text--left {
  float: left;
  margin: .5rem 0 0 1.8rem;
}

.header__button-icon--right {
  float: right;
  margin: .5rem .5rem 0 0;
}

.header--name {
  background-color: #107394;
}

.header--surname {
  background-color: #1280a5;
}

.header--city {
  background-color: #1695c0;
}

.header--email {
  background-color: #1d9fca;
}

.header--phone {
  background-color: #23a9d6;
}

.header--edit {
  background-color: #20b3e4;
}

.dashboard--filter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: .7rem;
}

.filter-form__checkbox--text {
  white-space: nowrap;
  color: white;
}

.filter-form__name-input--wrapper {
  padding-left: 0;
  width: 18rem;
  margin-right: .5rem;
}

.filter-form__name-input {
  width: 100%;
}

.filter-form__name-input, .filter-form__city-input {
  border-radius: 25px;
  outline: none;
}

.filter-form__submit-button {
  border: 2px solid rgba(206, 206, 206, 0.61);
  border-radius: 25px;
  outline: none;
  text-transform: uppercase;
  padding: 7.5px 25px;
  font-size: .9em;
  font-weight: 600;
  color: white;
}

.filter-form__checkbox--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9em;
}

.checkbox__border {
  height: 16px;
  width: 16px;
  margin: 0 .5rem 1rem 0;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid rgba(68, 68, 68, 0.788);
  -webkit-box-shadow: 0px 0px 0px .5px #fff;
          box-shadow: 0px 0px 0px .5px #fff;
}

.filter-form__checkbox--checker {
  position: relative;
  bottom: 1px;
  background-color: white;
  outline: none !important;
  border: none !important;
  margin: 0 .5rem 1rem 0;
}

.filter-form__checkbox--text {
  padding: .25rem .25rem;
}

.dashboard__add-new-button--wrapper {
  padding: 0 0 0 3.3rem;
  width: 16.7rem;
  margin-bottom: 1rem;
}

.dashboard__add-new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  -webkit-box-shadow: 0 6px 6px -2px #2b2b2b;
          box-shadow: 0 6px 6px -2px #2b2b2b;
  background-color: #00928b;
  color: white;
  border: none !important;
  outline: none !important;
  max-height: 38px;
}

.dashboard__add-new-button--icon {
  float: left;
  outline: none;
  font-size: 1.3rem;
  padding: .25rem .5rem .25rem .75rem;
}

.dashboard__add-new-button--text {
  float: right;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  font-size: .8em;
  padding: .25rem .75rem .25rem 0;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .dashboard__wrapper {
    padding: 0 2em;
  }
  .contacts__wrapper {
    padding: 0 2em;
  }
}

@media (min-width: 1366px) {
  .filter-form__name-input--wrapper {
    width: 24rem;
    margin-right: 2.5rem;
  }
  .dashboard__add-new-button--wrapper {
    width: 24rem;
    padding-left: 9.5rem;
  }
  .dashboard__wrapper {
    padding: 0 4em;
  }
  .contacts__wrapper {
    padding: 0 4em;
  }
}

@media (min-width: 1440px) {
  .filter-form__name-input--wrapper {
    width: 23.9rem;
    margin-right: 1.9rem;
  }
  .dashboard__add-new-button--wrapper {
    width: 22rem;
    padding-left: 9rem;
  }
  .dashboard__wrapper {
    padding: 0 8em;
  }
  .contacts__wrapper {
    padding: 0 8em;
  }
}

@media (min-width: 1920px) {
  .filter-form__name-input--wrapper {
    width: 25rem;
    margin-right: 1.2rem;
  }
  .dashboard__add-new-button--wrapper {
    width: 22rem;
    padding-left: 6.4rem;
  }
  .dashboard__wrapper {
    padding: 0 26em;
  }
  .contacts__wrapper {
    padding: 0 26em;
  }
}
/*# sourceMappingURL=main.component.css.map */