@import '../../variables';

.borders {
    border: 2px solid rgba(54, 54, 54, 0.788) !important;
    box-shadow: 0px 0px 0px .5px #fff !important;
}

.dashboard--wrapper {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between; 
    background: linear-gradient(0.55turn, rgb(0, 89, 141), rgb(2, 129, 123));
}

.contacts--wrapper {
    height: 32rem;
    background: linear-gradient(0.55turn, rgb(2, 129, 123), rgb(0, 89, 141));
}

.contacts {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;

}

.contacts--list {
    border-radius: 7px;
    background-color: white;
    height: fit-content;
    box-shadow: 0 6px 6px -2px rgb(43, 43, 43);
}

.contacts__detailed-view {
    padding-left: .5rem;
}

@include desktop-s {
    .dashboard--wrapper {
        padding: 0 2em;
    }

    .contacts--wrapper {
        padding: 0 2em;
    }
}

@include desktop-m {
    .dashboard--wrapper {
        padding: 0 4em;
    }

    .contacts--wrapper {
        padding: 0 4em;
    }

}

@include desktop-l {
    .dashboard--wrapper {
        padding: 0 8em;
    }

    .contacts--wrapper {
        padding: 0 8em;
    }
} 

@include desktop-xl {
    .dashboard--wrapper {
        padding: 0 26em;
    }

    .contacts--wrapper {
        padding: 0 26em;
    }
}
