.main__contacts--list {
  border: 1px solid #d4d3d3;
  border-radius: 5px;
}

.contacts__edit-group, .contacts__name-group-button, .contacts__name-group--item,
.contacts__surname-group-button, .contacts__city-group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__edit-group--item-left, .contacts__name-group--item-activity-y,
.contacts__name-group--item-activity-n, .contacts__surname-group--header {
  float: left;
  margin: 5px;
  padding: 2.5px;
}

.contacts__edit-group--item-right, .contacts__name-group--header-icon-right,
.contacts__name-group--item-name, .contacts__name-group--header-right {
  float: right;
  margin: 5px;
  padding: 2.5px;
}

.contacts__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__surname-group--item-name, .contacts__city-group--item-name,
.contacts__email-group--item-name, .contacts__phone-group--item-name,
.contacts__edit-group--item-left, .contacts__edit-group--item-right {
  margin: 5px;
  padding: 5px;
}

.row.contacts__wrapper:hover {
  background-color: lightblue;
  cursor: pointer;
}

.row.contacts__wrapper:hover .contacts__edit-group--item-left {
  border-radius: 5px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-color: #3fa4c5;
}

.row.contacts__wrapper:hover .contacts__edit-group--item-right {
  border-radius: 5px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-color: #3fa4c5;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.card-img-top {
  width: 170px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #d4d3d3;
  margin-top: 20px;
}

.card-body {
  font-size: .6vw;
}

.card-body__header {
  text-align: end;
  margin-right: 0 !important;
  padding-right: 5px !important;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  white-space: nowrap;
  fill: #000;
}

.card-body__contact-details {
  text-align: start;
  margin-left: 0 !important;
  padding-left: 5px !important;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  white-space: nowrap;
  fill: #000;
}

.main__contacts--detailed-view {
  -webkit-transition: visibility 1800ms ease-in;
  transition: visibility 1800ms ease-in;
}

.filter-form__name-input--wrapper, .filter-form__city-input--wrapper,
.filter-form__checkbox--wrapper, .filter-form__submit-button--wrapper {
  max-width: 15.97rem;
  margin-right: 4rem !important;
}

.filter-form__name-input, .filter-form__city-input {
  border-radius: 25px;
  outline: none;
}

.filter-form__submit-button {
  border-radius: 25px;
  outline: none;
  text-transform: uppercase;
  padding: 5px 25px;
}

.filter-form__checkbox--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-form__checkbox--checker {
  margin: 0 .5rem 1rem 0;
}

.main-dashboard__add-new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 2.25rem;
  border-radius: 25px;
  margin: 0 0 0 5.65rem;
  padding: auto auto;
}

.main-dashboard__add-new-button--icon {
  float: left;
  outline: none;
  font-size: 1.5rem;
  padding: 0 4.5rem .5rem 0;
}

.main-dashboard__add-new-button--text {
  float: right;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.component.css.map */